$color-primary: #043382;
$color-primary-darken: darken($color-primary, 5%);
$color-primary-lighten: lighten($color-primary, 5%);

$color-secondary: #191919;
$color-secondary-darken: darken($color-secondary, 5%);
$color-secondary-lighten: lighten($color-secondary, 5%);

$text-color-primary: #000000;
$text-color-secondary: #ffffff;

$main-background-color: #fafafa;
$card-background-color: #ffffff;
$heading-shadow-color: #0000003f;
$card-shadow-color: #dddddd;
$text-shadow-color: #555555;
