@use 'helpers/colors';

// FONTS
$font-family-base: system-ui;
$font-family-heading: 'Protest Strike', sans-serif;

// MEDIA QUERIES
$breakpoints: (
  'tablet': 786px,
  'laptop-sm': 1024px,
  'laptop': 1280px,
  'desktop-sm': 1440px,
  'desktop': 1920px,
);

// SPACES
$space-sections-sm: 8rem;
$space-sections-md: 14rem;
$space-sections-lg: 20rem;

$space-bar-from-edge-sm: 1rem;
$space-bar-from-edge-md: 3rem;
$space-bar-from-edge-lg: 6rem;

// BARS
$horizontal-bar-height-min: 48px;
$horizontal-bar-height-max: 128px;
