// FONTS

$font-family-base: system-ui;
$font-family-heading: serif;

// COLORS
$background-color: #fafafa;

// MEDIA QUERIES
$breakpoints: (
  'tablet': 786px,
  'laptop': 1280px,
  'desktop': 1920px,
);
