@use 'helpers/colors';
@use 'helpers/constants';
@use 'helpers/mixins';
@use 'helpers/animations' as *;

:host {
  display: block;
  overflow-x: clip;
}

.section {
  display: flex;

  &__bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__bar-heading {
    $font-size-min: 1.5rem;
    $font-size-max: 3rem;

    position: sticky;
    top: 0;
    padding: constants.$space-sections-sm 0;
    writing-mode: vertical-rl;
    font-size: clamp($font-size-min, 8vw, $font-size-max);
    color: lighten(colors.$color-secondary, 3%);
    text-transform: uppercase;
    text-shadow: -1px -1px 0.2rem rgba(255, 255, 255, 0.25);
    letter-spacing: 0.75em;
    white-space: nowrap;
  }

  &__content-container {
    display: flex;
    margin: constants.$space-sections-sm 0;
    padding: 1rem;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
  }

  &__content {
    animation: slideInFromBottom 1s 1 both;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 60vh;
  }

  &__heading {
    padding: 1rem 0;
    font-weight: 400;
    text-align: center;
    color: colors.$text-color-secondary;
    letter-spacing: 0.2em;
    background-color: colors.$color-primary;
    border-radius: 10rem;
    animation: slideInFromRight 1s 1 both;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40vh;
  }

  @include mixins.mq('tablet') {
    &__heading {
      width: fit-content;
      padding: 1rem 5rem;
      transform: translateX(-5rem);
    }
  }

  @include mixins.mq('laptop') {
    &__bar {
      margin-left: constants.$space-bar-from-edge-md;
    }

    &__bar-heading {
      padding: constants.$space-sections-md 0;
    }

    &__content-container {
      margin: constants.$space-sections-md 0;
    }
  }

  @include mixins.mq('desktop') {
    &__bar {
      margin-left: constants.$space-bar-from-edge-lg;
    }

    &__bar-heading {
      padding: constants.$space-sections-lg 0;
    }

    &__content-container {
      margin: constants.$space-sections-lg 0;
    }
  }
}
