@use 'helpers/colors';
@use 'helpers/constants';
@use 'helpers/animations' as *;

:host {
  display: block;
  position: relative;
  height: 100%;
}

.hero {
  display: flex;
  height: 100%;

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 1rem;
  }

  &__headings-container {
    margin-bottom: 10vh;
    text-align: right;
  }

  &__heading,
  &__subheading {
    color: colors.$text-color-secondary;
    text-shadow: 2px 4px 0.5rem rgba(0, 0, 0, 0.25);
    animation: slideInFromLeft 1s 1 both;
  }

  &__heading {
    $font-size-min: 3rem;
    $font-size-max: 9rem;

    font-size: clamp($font-size-min, 8vw, $font-size-max);
    animation-delay: 0.2s;
  }

  &__subheading {
    $font-size-min: 1.5rem;
    $font-size-max: 4.5rem;

    font-size: clamp($font-size-min, 4vw, $font-size-max);
    font-weight: 400;
    animation-delay: 0.4s;
  }

  &__subheading-uppercase {
    text-transform: uppercase;
  }
}
