<section class="hero">
  <aside class="vertical-bar"></aside>
  <aside class="horizontal-bar horizontal-bar--from-top"></aside>
  <article class="hero__content">
    <div class="hero__headings-container">
      <h1 class="hero__heading">Hello, I'm Krystian.</h1>
      <h2 class="hero__subheading">I'm a <span class="hero__subheading-uppercase">Frontend Developer</span>.</h2>
    </div>
    <nav class="hero__menu-container">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#about-me"> About me </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#tech-stack"> Tech stack </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#projects"> Projects </a>
        </li>
      </ul>
    </nav>
  </article>
</section>
;
