@use 'helpers/colors';
@use 'helpers/constants';
@use 'helpers/mixins';
@use 'helpers/animations' as *;

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:host {
  display: block;
}

.about-me {
  $image-size: 176px;

  position: relative;
  display: flex;
  padding: calc($image-size / 2 + 3rem) 2rem 3rem;
  flex-direction: column;
  align-items: center;
  background-color: colors.$card-background-color;
  box-shadow: constants.$card-shadow;
  border-radius: constants.$card-rounding-outer;

  &__img-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    border: 1rem solid colors.$main-background-color;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
  }

  &__contact-link-container {
    display: flex;
    gap: 2rem;
  }

  &__experience-card-container {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }

  @include mixins.mq(null, 'landscape') {
    &__experience-card-container {
      flex-direction: row;
      gap: clamp(2rem, 4vw + 1rem, 6rem);
    }
  }
}

.contact-link {
  $self: &;

  border: 0.1rem solid colors.$color-secondary;
  box-shadow: inset constants.$card-shadow;
  border-radius: 5rem;
  overflow: hidden;

  &:hover {
    #{$self}__img {
      transform: scale(1.1);
    }
  }

  &__link {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    color: colors.$text-color-primary;
    text-decoration: none;
  }

  &__img {
    transition: transform 0.2s;
  }
}

.experience-card {
  $card-size: 128px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: constants.$card-rounding-inner;
  background-color: colors.$card-background-color;
  width: $card-size;
  height: $card-size;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    padding: 72px;
    width: 100%;
    height: 100%;
    border-radius: constants.$card-rounding-outer;
    background-image: conic-gradient(
      from var(--angle),
      colors.$color-primary-lighten,
      colors.$color-secondary-lighten,
      colors.$color-primary-lighten
    );
    translate: -50% -50%;
    z-index: -1;
    animation: 1s borderSpin linear infinite;
  }

  &:nth-child(odd) {
    &::after {
      animation-delay: 0.5s;
      animation-direction: alternate-reverse;
    }
  }

  &__digit {
    font-size: 3rem;
    font-weight: 700;
  }

  &__text {
    margin: 0;
    padding: 0 0.5rem;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.1rem;
  }
}
