<header class="hero">
  <app-hero />
</header>
<main class="main">
  <app-section-container id="about-me" sectionName="About me">
    <app-section-about-me />
  </app-section-container>
  <app-section-container id="tech-stack" sectionName="Tech stack">
    <app-section-tech-stack />
  </app-section-container>
  <app-section-container id="projects" sectionName="Projects">
    <h2>content</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolores ea eaque eligendi et maiores minima
      minus molestias, nihil, praesentium quam qui quidem reprehenderit saepe tempore tenetur totam voluptatibus.
    </p>
  </app-section-container>
</main>
<footer class="footer">
  <app-footer />
</footer>
