<header class="hero"></header>
<main class="main">
  <app-section-container sectionName="About me">
    <h2>content</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolores ea eaque eligendi et maiores minima
      minus molestias, nihil, praesentium quam qui quidem reprehenderit saepe tempore tenetur totam voluptatibus.
    </p>
  </app-section-container>
  <app-section-container sectionName="Tech stack">
    <h2>content</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolores ea eaque eligendi et maiores minima
      minus molestias, nihil, praesentium quam qui quidem reprehenderit saepe tempore tenetur totam voluptatibus.
    </p>
  </app-section-container>
  <app-section-container sectionName="Projects">
    <h2>content</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolores ea eaque eligendi et maiores minima
      minus molestias, nihil, praesentium quam qui quidem reprehenderit saepe tempore tenetur totam voluptatibus.
    </p>
  </app-section-container>
  <app-section-container sectionName="Contact">
    <h2>content</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolores ea eaque eligendi et maiores minima
      minus molestias, nihil, praesentium quam qui quidem reprehenderit saepe tempore tenetur totam voluptatibus.
    </p>
  </app-section-container>
</main>
