@use 'helpers/mixins';

:host {
  display: block;
}

.hero {
  $linear-gradient: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(82, 82, 82, 0.5) 75%, rgba(250, 250, 250) 100%);

  height: 100dvh;
  background-image: $linear-gradient, url('/images/hero-bg-640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mixins.mq('laptop') {
    background-image: $linear-gradient, url('/images/hero-bg-1280.jpg');
  }

  @include mixins.mq('desktop') {
    background-image: $linear-gradient, url('/images/hero-bg-1920.jpg');
  }
}
