@use 'helpers/colors';
@use 'helpers/constants';

:host {
  display: block;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__heading,
  &__icons-source {
    text-align: center;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 1rem;
    justify-content: space-evenly;
  }

  &__icons-source {
    max-width: initial;
  }
}

.tech-card {
  width: 160px;
  height: 160px;
  perspective: 600px;

  &__content-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition:
      transform 1s,
      scale 0.2s;
    transform-style: preserve-3d;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }

    &--flip {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: constants.$card-shadow;
    border-radius: constants.$card-rounding-outer;
    overflow: hidden;

    &--front,
    &--back {
      background-color: colors.$card-background-color;
    }

    &--front {
      padding: 1rem;
    }

    &--back {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
    }
  }

  &__img-container {
    position: relative;
    width: 128px;
    height: 128px;
  }

  &__experience-years,
  &__name {
    color: colors.$text-color-secondary;
  }

  &__experience-years {
    position: absolute;
    inset: 0;
    bottom: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: colors.$color-secondary;
  }

  &__name {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 1px 2px 0.2rem colors.$text-shadow-color;
    z-index: 1;
  }
}
