@use 'helpers/colors';
@use 'helpers/constants';

:host {
  display: block;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__heading,
  &__icons-source {
    text-align: center;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 1rem;
    justify-content: space-evenly;
  }

  &__icons-source {
    max-width: initial;
  }
}

.tech-card {
  padding: 1rem;
  width: fit-content;
  box-shadow: constants.$card-shadow;
  border-radius: constants.$card-rounding-outer;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    scale: 1.1;
  }

  &__img-container {
    position: relative;
    width: 128px;
    height: 128px;
  }

  &__name {
    text-align: center;
  }
}
