<article class="tech-stack">
  <h2 class="tech-stack__heading">Click card to see details</h2>
  <ul class="tech-stack__cards-container">
    @for (item of techCardList; track item.name) {
      <li class="tech-card" appTechCardFlip>
        <div class="tech-card__content-container">
          <div class="tech-card__face tech-card__face--front">
            <div class="tech-card__img-container">
              <img class="tech-card__img" [ngSrc]="item.imgPath" [alt]="item.name + ' icon'" fill loading="lazy" />
            </div>
          </div>
          <div class="tech-card__face tech-card__face--back">
            <p class="tech-card__experience" [style.--experience-color]="'red'">Mid</p>
            <p class="tech-card__name">{{ item.name }}</p>
            <p class="tech-card__experience-years">{{ item.experienceYears | experienceYearsFormat }}</p>
          </div>
        </div>
      </li>
    }
  </ul>
  <p class="tech-stack__icons-source">Icons downloaded from <a href="https://simpleicons.org/">Simple Icons</a></p>
</article>
