@use 'helpers/colors';
@use 'helpers/constants';

html {
  font-family: constants.$font-family-base;
  color: colors.$text-color-primary;
}

h1,
h2,
h3,
h4 {
  font-family: constants.$font-family-heading;
}
